html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 40px;
}

.modal-dialog {
    z-index: 100;
    margin: auto;
    position: absolute;
    top: 150; left: 0; right: 0;

}

.modal-backdrop {
    z-index: 1;
}

pre, code.hljs {
    background-color: transparent;
}
